In [1]:
import pymongo as pm

In [2]:
myclient = pm.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customer"]
mydict = {"Name": "John", "Contact":"+123654987", "Address":"Botson"}
x = mycol.insert_one(mydict)

In [3]:
mydict = {"Name":"Peter", "Contact":"+987456321", "Address":"HHighway 27"}
x = mycol.insert_one(mydict)

The insert_one() method returns a InsertOneResult object, which has a property, **inserted_id**, that holds the id of the inserted document

If you do not specify an **_id** field, then MongoDB will add one for you and assign a unique id for each document.

In the example above no **_id** field was specified, so MongoDB assigned a unique _id for the record (document).

In [4]:
print(x.inserted_id)

5d73853a4c059eb9635a38cb

In [6]:
print(x.inserted_id)

5d73853a4c059eb9635a38cb

In [7]:
mylist = [
    { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [8]:
x = mycol.insert_many(mylist)

The **insert_many()** method returns a InsertManyResult object, which has a property, inserted_ids, that holds the ids of the inserted documents.

In [12]:
print(x.inserted_ids,end="\n")

[ObjectId('5d7386724c059eb9635a38cc'), ObjectId('5d7386724c059eb9635a38cd'), ObjectId('5d7386724c059eb9635a38ce'), ObjectId('5d7386724c059eb9635a38cf'), ObjectId('5d7386724c059eb9635a38d0'), ObjectId('5d7386724c059eb9635a38d1'), ObjectId('5d7386724c059eb9635a38d2'), ObjectId('5d7386724c059eb9635a38d3'), ObjectId('5d7386724c059eb9635a38d4'), ObjectId('5d7386724c059eb9635a38d5'), ObjectId('5d7386724c059eb9635a38d6'), ObjectId('5d7386724c059eb9635a38d7')]

Specify **id** for every onoe at entering data

In [13]:
myclient = pm.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customer"]
mylist = [{ "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]