In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customer"]

In [3]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d7384c24c059eb9635a38ca'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73853a4c059eb9635a38cb'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d7386724c059eb9635a38cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d7386724c059eb9635a38cd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d7386724c059eb9635a38ce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d7386724c059eb9635a38cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d7386724c059eb9635a38d1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d7386724c059eb9635a38d2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d7386724c059eb9635a38d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d7386724c059eb9635a38d5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d7386724c059eb9635a38d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d7386724c059eb9635a38d7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Delete Document
To delete one document, we use the **delete_one()** method.

The first parameter of the **delete_one()** method is a query object defining which document to delete.

In [6]:
myquery = {"address": "Mountain 21"}
mycol.delete_one(myquery)
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d7384c24c059eb9635a38ca'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73853a4c059eb9635a38cb'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d7386724c059eb9635a38cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d7386724c059eb9635a38ce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d7386724c059eb9635a38cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d7386724c059eb9635a38d1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d7386724c059eb9635a38d2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d7386724c059eb9635a38d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d7386724c059eb9635a38d5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d7386724c059eb9635a38d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d7386724c059eb9635a38d7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [9]:
# it delete 1 at a time
myquery = {"address": "Mountain 21"}
mycol.delete_one(myquery)
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d7384c24c059eb9635a38ca'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73853a4c059eb9635a38cb'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d7386724c059eb9635a38cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d7386724c059eb9635a38ce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d7386724c059eb9635a38cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d7386724c059eb9635a38d1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d7386724c059eb9635a38d2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d7386724c059eb9635a38d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d7386724c059eb9635a38d5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d7386724c059eb9635a38d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d7386724c059eb9635a38d7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Delete Many
delete address whose name started with **S**

In [10]:
myquery = {"address": {"$regex": "^S"}}
mycol.delete_many(myquery)

In [11]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d7384c24c059eb9635a38ca'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73853a4c059eb9635a38cb'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d7386724c059eb9635a38cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d7386724c059eb9635a38ce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d7386724c059eb9635a38cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d7386724c059eb9635a38d2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d7386724c059eb9635a38d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d7386724c059eb9635a38d5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d7386724c059eb9635a38d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}

delete data whose address name Letter greater then **S** Letter

In [14]:
myquery = {"address": {"$gt":"S"}}
mycol.delete_many(myquery)
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d7384c24c059eb9635a38ca'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73853a4c059eb9635a38cb'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d7386724c059eb9635a38cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d7386724c059eb9635a38cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d7386724c059eb9635a38d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d7386724c059eb9635a38d2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d7386724c059eb9635a38d4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d7386724c059eb9635a38d5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d7386724c059eb9635a38d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}

## Delete all data

In [20]:
myquery = x.delete_many({})
print(myquery.deleted_count, "deleted")

0 deleted