# Drop

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customer"]

In [4]:
# No data available bcz we deleted all data in previous session 1.8
for i in mycol.find():
    print(i)

You can delete a table, or collection as it is called in MongoDB, by using the **drop()** method.

In [5]:
mycol.drop()

# UPDATE

In [6]:
# first run session 1.4

In [7]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d73c3d54c059eb9635a38da'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73c3d54c059eb9635a38db'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d73c3d74c059eb9635a38dc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d73c3d74c059eb9635a38dd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d73c3d74c059eb9635a38de'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d73c3d74c059eb9635a38df'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [8]:
myquery = {"address" : "Apple st 652"}
newquery = {"$set": {"address": "Botson 652"}}
mycol.update_one(myquery, newquery)

In [9]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d73c3d54c059eb9635a38da'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73c3d54c059eb9635a38db'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d73c3d74c059eb9635a38dc'), 'name': 'Amy', 'address': 'Botson 652'}
{'_id': ObjectId('5d73c3d74c059eb9635a38dd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d73c3d74c059eb9635a38de'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d73c3d74c059eb9635a38df'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Update Many

In [10]:
myquery = {"name": {"$regex":"^S"}}
newquery = {"$set": {"name": "Australian"}}

In [11]:
mycol.update_many(myquery, newquery)

In [12]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d73c3d54c059eb9635a38da'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73c3d54c059eb9635a38db'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d73c3d74c059eb9635a38dc'), 'name': 'Amy', 'address': 'Botson 652'}
{'_id': ObjectId('5d73c3d74c059eb9635a38dd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d73c3d74c059eb9635a38de'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d73c3d74c059eb9635a38df'), 'name': 'Australian', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e2'), 'name': 'Australian', 'address': 'One way 98'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Australian', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Australian', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
myquery = {"name":{"$gt":"S"}}
newquery = {"$set": {"name":"NEW UPDATED"}}

In [14]:
mycol.update_many(myquery, newquery)

In [18]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5d73c3d54c059eb9635a38da'), 'Name': 'John', 'Contact': '+123654987', 'Address': 'Botson'}
{'_id': ObjectId('5d73c3d54c059eb9635a38db'), 'Name': 'Peter', 'Contact': '+987456321', 'Address': 'HHighway 27'}
{'_id': ObjectId('5d73c3d74c059eb9635a38dc'), 'name': 'Amy', 'address': 'Botson 652'}
{'_id': ObjectId('5d73c3d74c059eb9635a38dd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d73c3d74c059eb9635a38de'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d73c3d74c059eb9635a38df'), 'name': 'Australian', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e2'), 'name': 'Australian', 'address': 'One way 98'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e3'), 'name': 'NEW UPDATED', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e5'), 'name': 'NEW UPDATED', 'address': 'Central st 954'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d73c3d74c059eb9635a38e7'), 'name': 'NEW UPDATED', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Australian', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Australian', 'address': 'One way 98'}
{'_id': 10, 'name': 'NEW UPDATED', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'NEW UPDATED', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'NEW UPDATED', 'address': 'Sideway 1633'}